.usage-conclude {
  display: flex;
  padding: 2rem;
  gap: 20px;
  container-type: inline-size;
}

.conclude-kw,
.conclude-kVAR,
.conclude-lt-kw,
.conclude-lt-kVAR {
  display: grid;
  padding: 18px 31px;
  background-color: rgb(270, 270, 270);
  margin: 0 15px;
  height: 200px;
  width: 320px;
  border-radius: 10px;
  justify-content: space-evenly;
  text-align: center;
  gap: 0.5rem;
}

h1 {
  color: #5ba1eb;
  font-size: 30px;
}

@media (max-width: 400px) {
  .usage-conclude {
    display: flex;
    max-width: 100%;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .usage-conclude {
    max-width: 100%;
    /* width: 100%; */
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .usage-conclude {
    max-width: 100%;
    /* width: 100%; */
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}
