.power-chart {
  display: flex;
}
.power-chart-main {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
}
.transformer-status {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
}
